.no-image-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #image-container-pic-1 {
    height: 450px;
  }

  #open-image-button {
    margin-top: 50px;

    .image-button-container {
      #open-image-text {
        padding-left: 10px;
      }
    }
  }
}
