//This is for storing global variables

//root properties
:root {
  --primary-ui-color: rgb(36, 115, 206);
}

// Global Colors
$primaryWhite: #fff;
$primaryBlack: #000;
$primaryBrown: rgb(78, 24, 24);
$primaryUIColor: var(--primary-ui-color);
